<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="all">
  <div class="signup">
    <div class="signup-connect">
      <h1>Info Profile</h1>
      <div class="form">


        <fieldset class="name">
          <%= f.text_field :name, autofocus: true, placeholder: "Full Name" %>
        </fieldset>

        <fieldset class="phone">
          <%= f.text_field :phone, placeholder: "Phone number" %>
        </fieldset>

        <fieldset class="address">
          <%= f.text_field :address, placeholder: "Address" %>
        </fieldset>

        <div class="field">
          <%= f.label :avatar, "Profile Image" %><br />
          <%= f.file_field :avatar %>
        </div>

        <br>

        <div class="field">
          <%= f.label :sex, "Gioi Tinh:" %><br />
          <%= f.radio_button :sex, :true %>
          <%= f.label :sex, "Nam" %>
          <%= f.radio_button :sex, :false %>
          <%= f.label :sex, "Nu" %>
        </div>


      </div>
    </div>
    <div class="signup-classic">
      <div class="form add-form">



        <fieldset class="email">
          <%= f.email_field :email, placeholder: "Email adress" %>
        </fieldset>

        <fieldset class="password">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </fieldset>

        <fieldset class="password">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password" %>
        </fieldset>

        <div class="actions">
          <%= f.submit "Sign up",id: "button-submit"%>
        </div>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
<% end %>




