<div class="signin">
  <div class="signin-connect">
    <h1>Create your account</h1>
    <a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Sign up with Facebook</a>
    <a href="#" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign up with Twitter</a>
    <a href="#" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign up with Google</a>
    <a href= "sign_up" class="btn btn-social btn-sign-up"><i class="fa fa-sign-in"></i> Sign Up Now</a>
  </div>
  <div class="signin-classic">
    <h2>Or use the classical way</h2>


    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: :form }) do |f| %>
    <fieldset class="email">
      <%= f.email_field :email, placeholder: "email", autofocus: true %>
    </fieldset>

    <fieldset class="password">
      <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
    </fieldset>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in",id: "button-submit"%>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
